body{
  background-color: #000000;
}
h1{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

h5{
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.6;
}

h6{
  text-align: center;
}

p{
  color: #ff0800;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.container{
  background-color: #ffffff7c;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.603);
}

img {
  border-radius: 8px;
  transition: all 0.3s ease;
}