body {
  background-color: black;
  /* background image for the page body; change path to another file if desired */
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.produto1 {
  border: solid 2px yellowgreen;
  color: white;
  backdrop-filter: blur(10px);
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: auto;
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 20px yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.item{
  text-align: start;
  display: inline-block;
}

.valor{
  text-align: end;
  color: white;
}

a{
  text-decoration: none;
}


@media (max-width: 480px) {
  /*resonsividade*/
  .produto1 {
    color: white;
    backdrop-filter: blur(10px);
    margin-top: 8px;
    display: flexbox;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

span {
  font-size: large;
  font-style: italic;
}

.valorTotal {
  color: red;
}
